.carousel-item,
.carousel-inner,
.carousel-inner img {
  height: 100%;
  width: auto;
  justify-content: center;
  align-items: center;
}

.carousel-item {
  text-align: center;
  width: 100%;
  padding: 0%;
  margin: 0%;
}
.carousel {
    height: 500px;
}
.card-text{
    text-align: center;
}
#map {
    
    width: 200px;
    height: 200px;
    align-items: center;
}
